.bg {
  height: 100vh;
  width: 100vw;
  background-color: rgba(54, 54, 54, 0.473);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1231;
  top: 0;
  left: 0;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  background-color: #fff;
  border-radius: 10px;
  width: 40vw;
}

.title {
  font-size: 40px;
}

.allMarkers {
  display: flex;
  flex-direction: column;
  width: 89%;
}

.markerItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: relative;
}

.divChecked {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 90%;
  width: 5px;
  background-color: rgb(152, 255, 178);
}

.divNotChecked {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 90%;
  width: 5px;
  background-color: rgb(255, 152, 152);
}

.cb {
  display: none;
}

.notMarkers {
  text-align: center;
  padding: 10px;
}

.inputBox {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 90%;
}

.input {
  height: 25px;
  width: 88%;
}

.okayBox {
  display: flex;
  justify-content: center;
  width: 90%;
  padding: 10px;
}

.editItemBox {
  display: flex;
}

.editItem {
  margin-left: 10px;
  cursor: pointer;
}

.editBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.editInput {
  height: 25px;
  flex-grow: 1;
}

.editBtn {
  margin-left: 5px;
  height: 100%;
	border: none;
	padding: 10px;
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0);
	transition: all 0.5s ease;
}

.editBtn:hover {
	background-color: rgb(231, 231, 231);
	transition: all 0.5s ease-out;
}

.btn {
	height: 100%;
	border: none;
	padding: 10px;
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0);
	transition: all 0.5s ease;
}

.btn:hover {
	background-color: rgb(231, 231, 231);
	transition: all 0.5s ease-out;
}